/* بقي علي وضع مسافة بين الرقم و النص في القائمة + العمل على عرض الهاتف */

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Outfit";
  background-color: rgb(244, 214, 228);
}

.container {
  width: 600px;

  border-radius: 12px;
  margin: 100px auto;

  background-color: hsl(0, 0%, 100%);
}

.recipe-img {
  width: 520px;
  margin: 30px 40px;
  border-radius: 12px;
}

h1,
h2,
h3 {
  color: hsl(14, 45%, 36%);
  font-family: "Young Serif";
  font-weight: lighter;
}

.recipe-title {
  margin: 0 0 30px 40px;
  color: hsl(24, 5%, 18%);
}

.recipe-description,
.nutrition-table-description {
  font-size: 14px;
  color: hsl(30, 10%, 34%);
  margin: 0 20px 30px 40px;
}

.time-box {
  margin: 0 40px 30px 40px;
  background-color: rgb(244, 214, 228, 0.1);
  padding: 20px;
  border-radius: 12px;
}

.time-list-title {
  color: hsl(332, 51%, 32%);
  font-weight: bold;
  font-family: "Outfit";
  margin-bottom: 10px;
}

.time-list {
  padding-left: 20px;
}

.time-list li {
  font-size: 14px;
  color: hsl(30, 10%, 34%);
  list-style: none;
  margin-bottom: 10px;
}

.time-list li::before {
  content: "";
  height: 4px;
  width: 4px;

  background-color: hsl(332, 51%, 32%);
  margin-right: 15px;
  display: inline-block;

  margin-bottom: 2px;
  border-radius: 2px;
}

.ingredients-list-title {
  margin: 0 0 15px 40px;
}

.ingredients-list {
  margin: 0 0 30px 70px;
}

.ingredients-list li {
  font-size: 14px;
  color: hsl(30, 10%, 34%);
  list-style: none;
  margin-bottom: 10px;
}

.ingredients-list li::before {
  content: "";
  height: 4px;
  width: 4px;

  background-color: hsl(332, 51%, 32%);
  margin-right: 15px;
  display: inline-block;

  margin-bottom: 2px;
  border-radius: 2px;
}

hr {
  /*   width: 500px;
  margin-left: auto;
  margin-right: auto; */
  margin: 0 40px;
  color: hsl(30, 10%, 34%);
  margin-bottom: 20px;
}

.Instructions-list-title {
  margin: 0 0 15px 40px;
}

.Instructions-list {
  margin: 0 40px 30px 70px;
}

.Instructions-list li {
  font-size: 14px;
  color: hsl(30, 10%, 34%);
  font-size: 14px;
  margin-bottom: 10px;
}

.Instructions-list li::marker {
  color: hsl(332, 51%, 32%);
  font-weight: bold;
}

.nutrition-table-title {
  margin: 0 0 15px 40px;
}

.nutrition-table {
  width: 500px;
  margin: 0 0 15px 40px;
  border-collapse: collapse;
}
.nutrition-table tr {
  border-bottom: 1px solid hsl(30, 10%, 34%);
}
.nutrition-table tr:last-child {
  border-bottom: none;
}

.nutrition-table tr td {
  padding: 20px 0 10px 30px;
}

.col-1 {
  color: hsl(30, 10%, 34%);
}

.col-2 {
  color: hsl(332, 51%, 32%);
  font-weight: bold;
}
